html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
/*light / dark mode*/
:root {
    --background-color-light: #dcdad7;
    --text-color-light: #2a2e2f;
    --background-color-dark: #181a1b;
    --text-color-dark: #c8c3bc;
}

body.light-mode {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

body {
    transition: background-color 0.2s ease, color 0.2s ease;
}

.list-container {
    margin: 80px 0 0 0;
}